/* this will be the main style page for the site */

/* Headings */
h1.center {
    text-align:center;
}

h1, h2 {
    margin-top: 20px;
  }

/* paragraph styling */
p.center {
    text-align: center;
}

p {
  font-size: 11pt;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
  }